* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.primary-dialog-btn {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  border: none;
  background: #001f3f;
  color: #ebebeb;
}

.secondary-dialog-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  border: 1px solid #001f3f;
  background: #ebebeb;
  color: #001f3f;
}

.link-style {
  color: #3d9970;
  font-size: 0.84rem;
  margin-top: 1rem;
  outline: none;
  transition: all 0.2s;
}
.link-style:hover, .link-style:focus {
  color: #001f3f;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem 1rem;
  width: 100%;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
.calendar-body .react-calendar {
  width: 100%;
  max-width: 700px;
  border: none;
}
.calendar-body .react-calendar .react-calendar__navigation {
  border-bottom: 1px solid #3d9970;
  padding-bottom: 1rem;
}
.calendar-body .react-calendar .react-calendar__navigation button {
  color: #001f3f;
  font-size: 2rem;
}
.calendar-body .react-calendar .react-calendar__navigation .react-calendar__navigation__arrow {
  padding: 0 2rem;
}
.calendar-body .react-calendar .react-calendar__navigation span {
  font-size: 1.5rem;
}
.calendar-body .react-calendar .react-calendar__navigation .react-calendar__navigation__next2-button,
.calendar-body .react-calendar .react-calendar__navigation .react-calendar__navigation__prev2-button {
  display: none;
}
.calendar-body .react-calendar .react-calendar__tile {
  padding: 1.2rem 0;
}
.calendar-body .react-calendar .react-calendar__tile--hasActive {
  background: rgba(61, 153, 112, 0.2);
}
.calendar-body .react-calendar .react-calendar__tile--active {
  background: rgba(61, 153, 112, 0.2);
}
.calendar-body .react-calendar .react-calendar__tile--now {
  background: #3d9970;
  color: #ebebeb;
}
.calendar-body .react-calendar .react-calendar__tile--now:enabled:hover, .calendar-body .react-calendar .react-calendar__tile--now:enabled:focus {
  background: #3d9970;
  color: #ebebeb;
}
.calendar-body .react-calendar .react-calendar__month-view__days abbr {
  font-size: 1.2rem;
}
.calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__month-view__days__day {
  color: #001f3f;
}
.calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__month-view__days__day--weekend {
  color: #f44336;
}
.calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__month-view__days__day--neighboringMonth {
  color: #8f8f8f;
}
.calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__tile--active {
  background: rgba(61, 153, 112, 0.2);
}
.calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__tile--now {
  background: #3d9970;
  color: #ebebeb;
}
.calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__tile--now:enabled:hover, .calendar-body .react-calendar .react-calendar__month-view__days .react-calendar__tile--now:enabled:focus {
  background: #3d9970;
  color: #ebebeb;
}
.calendar-body .react-calendar .react-calendar__year-view__months button,
.calendar-body .react-calendar .react-calendar__decade-view button,
.calendar-body .react-calendar .react-calendar__century-view button {
  color: #001f3f;
}/*# sourceMappingURL=Calendar.css.map */