$primary-blue: #001F3F;
$primary-gray: #838383;
$primary-green: #3D9970;
$dark-green: #2d7655;
$secondary-green: #3d997041;
$primary-white: #EBEBEB;
$secondary-white: rgba(143, 143, 143, 0.14);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}