@import "./reset.scss";

@mixin displayFlex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.rooms-body .rooms-list {
  @include displayFlex(column, center, center);
  height: 100%;

  .room-item {
    @include displayFlex(row, center, space-between);
    width: 70rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;

    &:focus,
    &:hover {
      transition: all 0.2s;
      background-color: $light-green;
    }

    .room-info .title,
    .room-info .desc,
    .room-icon i {
      color: $primary-blue;
    }

    .room-info {
      max-width: 75%;
      overflow: hidden;

      .desc {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .modal-dialog {
    .modal-content {
      .false-input-text {
        width: 100%;
        height: auto;
        @include displayFlex(column, start, flex-start);
        .title {
          font-weight: bold;
        }
        .false-input {
          width: 100%;
          border-bottom: 1px solid $primary-blue;
        }
        .false-input-desc {
          width: 100%;
          height: 9rem;
          border-bottom: 1px solid $primary-blue;
        }
      }
    }
  }
}
