* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(224deg, #001F3F 0%, #3D9970 100%);
  min-height: 100vh;
  width: 100%;
}
.signup-page .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.signup-page .content-box .app-title {
  background-color: #EBEBEB;
  color: #3D9970;
  padding: 0.5rem;
  width: 10.1rem;
  align-self: flex-end;
  text-align: center;
  box-shadow: 0px -1px 4px 0px #8f8f8f inset;
}
.signup-page .content-box .form-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EBEBEB;
  height: auto;
  width: 19rem;
}
.signup-page .content-box .form-panel .title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #001F3F;
}
.signup-page .content-box .form-panel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1.62rem;
}
.signup-page .content-box .form-panel form .fullname-label,
.signup-page .content-box .form-panel form .user-label,
.signup-page .content-box .form-panel form .passwd-label,
.signup-page .content-box .form-panel form .confirm-passwd-label {
  color: #001F3F;
  width: 100%;
  text-align: start;
  margin-top: 1.8rem;
}
.signup-page .content-box .form-panel form .fullname-input,
.signup-page .content-box .form-panel form .user-input,
.signup-page .content-box .form-panel form .passwd-input,
.signup-page .content-box .form-panel form .confirm-passwd-input {
  background-color: rgba(143, 143, 143, 0.14);
  color: #001F3F;
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-bottom: 1px solid #001F3F;
  outline: none;
  transition: all 0.2s;
}
.signup-page .content-box .form-panel form .fullname-input:focus,
.signup-page .content-box .form-panel form .user-input:focus,
.signup-page .content-box .form-panel form .passwd-input:focus,
.signup-page .content-box .form-panel form .confirm-passwd-input:focus {
  border-bottom: 1px solid #3D9970;
  background-color: rgba(61, 153, 112, 0.2549019608);
}
.signup-page .content-box .form-panel form .fullname-input::-moz-placeholder, .signup-page .content-box .form-panel form .user-input::-moz-placeholder, .signup-page .content-box .form-panel form .passwd-input::-moz-placeholder, .signup-page .content-box .form-panel form .confirm-passwd-input::-moz-placeholder {
  color: #a7a7a7;
  font-style: italic;
}
.signup-page .content-box .form-panel form .fullname-input::placeholder,
.signup-page .content-box .form-panel form .user-input::placeholder,
.signup-page .content-box .form-panel form .passwd-input::placeholder,
.signup-page .content-box .form-panel form .confirm-passwd-input::placeholder {
  color: #a7a7a7;
  font-style: italic;
}
.signup-page .content-box .form-panel form .signup-btn {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1.8rem;
  background-color: #3D9970;
  color: #EBEBEB;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
.signup-page .content-box .form-panel form .signup-btn:hover, .signup-page .content-box .form-panel form .signup-btn:focus {
  background-color: #2d7655;
}
.signup-page .content-box .form-panel form .sign-up-link {
  color: #3D9970;
  font-size: 0.84rem;
  margin-top: 1rem;
  outline: none;
  transition: all 0.2s;
}
.signup-page .content-box .form-panel form .sign-up-link:hover, .signup-page .content-box .form-panel form .sign-up-link:focus {
  color: #001F3F;
}/*# sourceMappingURL=SignUp.css.map */