@import "./reset.scss";

@mixin displayFlex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.user-reservations-body {
  .user-reservations-list {
    @include displayFlex(column, center, center);
    height: 100%;

    .user-reservation-item {
      @include displayFlex(row, center, space-between);
      width: 100%;
      max-width: 60rem;
      margin-bottom: 1rem;
      padding: 1rem 1.5rem;

      &:focus,
      &:hover {
        transition: all 0.2s;
        background-color: $light-green;
      }

      .reservation-info .title,
      .reservation-info .desc,
      .reservation-datetime .date {
        color: $primary-blue;
      }

      .reservation-datetime .begin-end {
        color: $primary-green;
      }

      .reservation-info {
        max-width: 55%;
        overflow: hidden;

        .desc {
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

button.delete-reservation-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  border: 1px solid #001F3F;
  background: #EBEBEB;
  color: #001F3F;
}
